html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #e1e1e1;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
span,
div,
button,
label {
  font-family: 'Work Sans', sans-serif;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

label {
  font-weight: 400;
}

/* -------------

HEADER

-------------- */

header {
  width: 100%;
  background: #e1e1e1;
  border-bottom: 1px solid #ccc;
}

#topBar {
  width: 100%;
  height: 40px;
  background: #2F6581;
}

/* -------------

VISIBLE AND HIDDEN STATES

-------------- */

.search #map-area {
  display: block;
}

.book #map-area {
  display: none;
}

.search #tabContent {
  display: block;
}

.book #tabContent {
  display: none;
}

.search #bookingHeader {
  display: none;
}

.book #bookingHeader {
  display: block;
}

.search #bookingContent {
  display: none;
}

.book #bookingContent {
  display: block;
}

.booking1 #booking1 {
  display: block;
}

.booking1 #booking2,
.booking1 #booking3 {
  display: none;
}

.booking2 #booking2 {
  display: block;
}

.booking2 #booking1,
.booking2 #booking3 {
  display: none;
}

.booking3 #booking3 {
  display: block;
}

.booking3 #booking1,
.booking3 #booking2 {
  display: none;
}

/* -------------

TABS

-------------- */

#tabs-container {
  width: 100%;
}

#tabs {
  width: 100%;
}

.nav-tabs {
  border: 0;
}

.nav-tabs>li {
  margin: 0;
}

.nav-tabs>li>a {
  border: 0;
  border-radius: 0;
  color: #fff;
  margin: 0;
  font-size: 16px;
  line-height: 0.8;
  text-transform: uppercase;
  padding: 17px 15px;
}

.nav-tabs>li>a>.tab-font-small {
  font-size: 11px;
  text-transform: none;
  color: rgba(255,255,255,.5);
}

.nav-tabs>li.destination {
    width: 23.2%;
  }
  .nav-tabs>li.from {
    width: 23.2%;
  }
  .nav-tabs>li.dates {
    width: 30.4%;
  }
  .nav-tabs>li.budget {
    width: 23.2%;
  }

.nav-tabs>li.destination>a {
  background: #516066;
}

.nav-tabs>li.from>a {
  background: #49565C;
}

.nav-tabs>li.dates>a {
  background: #516066;
}

.nav-tabs>li.budget>a {
  background: #626F75;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  color: #333;
  border: 0;
}

.nav-tabs>li.active.destination>a,
.nav-tabs>li.active.destination>a:focus,
.nav-tabs>li.active.destination>a:hover {
  background: #E77E69;
}

.nav-tabs>li.active.from>a,
.nav-tabs>li.active.from>a:focus,
.nav-tabs>li.active.from>a:hover {
  background: #78AB96;
}

.nav-tabs>li.active.dates>a,
.nav-tabs>li.active.dates>a:focus,
.nav-tabs>li.active.dates>a:hover {
  background: #9D8A99;
}

.nav-tabs>li.active.budget>a,
.nav-tabs>li.active.budget>a:focus,
.nav-tabs>li.active.budget>a:hover {
  background: #C3BB9B;
}

.tab-content {
  width: 100%;
}

.tab-pane {
  width: 100%;
  padding: 20px;
  /*overflow: hidden;*/
}

.tab-pane h2 {
  margin: 0;
  font-size: 22px;
}

.slider-header {
  overflow: auto;
}

.slider-header span.low-value {
  float: left;
}

.slider-header span.high-value {
  float: right;
}

.slider-container>.slider.slider-horizontal {
  width: 100%;
  margin: 0 auto;
}

.slider-handle {
  background: #fff;
}

.tab-pane>.tab-link-container {
  padding: 10px 0 0 0;
}

.tab-pane>.input-group {
  width: 100%;
}

.tab-pane>.input-group>.form-control {
  width: 100%;
}

.tab-pane>.input-group>.from {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.tab-pane>label {
  padding-left: 10px;
}

.tab-pane label {
  height: 22px;
  color: rgba(0,0,0,.6);
}

#budget .slider-container {
  padding-top: 5px;
}

#budget .slider.slider-horizontal .slider-track {
  height: 6px;
  margin-top: -3px;
}

#budget .slider-container .slider-selection {
  background: #CB4F43;
}

#budget .slider-container .slider-track-high {
  background: rgba(0,0,0,.3);
}

#bookingHeader {
  background: #ccc;
  max-width: 960px;
  margin: 0 auto;
}

#bookingHeader .inner {
  padding: 40px 0;
}

/* -------------

MAIN CONTENT

-------------- */

#main {

}

#container {

}

#map-area {
  width: 100%;
  position: relative;
}

#map {
  background-size: cover;
  background-position: center center;
}

#map.explore {
  background-image: url(../img/map-explore.png);
}

#map.beaches {
  background-image: url(../img/map-beaches.png);
  background: red;
}

#map.cities {
  background-image: url(../img/map-cities.png);
  background: green;
}

#map.outdoors {
  background-image: url(../img/map-outdoors.png);
  background: yellow;
}

#map.adventure {
  background-image: url(../img/map-adventure.png);
  background: brown;
}

#map.hkgsin {
  background-image: url(../img/map-hkgsin.png);
  background: purple;
}

#map.hkgnrt {
  background-image: url(../img/map-hkgnrt.png);
}

#map.under1000 {
  background-image: url(../img/map-under1000.png);
  background: pink;
}

#info-layer {
  height: 100%;
  position: relative;
}

#info-content {
  background: #fafafa;
}

.buttonHidden {
  display: none;
}

#infoButton {
  width: 100%;
  background: rgba(255,255,255,.8);
  position: absolute;
  bottom: 0;
  left: 0;
}

#infoButton .inner {
  padding: 20px;
}

#infoButton button {
  width: 100%;
  line-height: 46px;
  border: 0;
  color: #fff;
}

.inactiveButton {
  background: #ccc;
}

.activeButton {
  background: #CB4F43;
}

#bookingContent {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

#bookingContent .inner {
  padding: 0;
}

#bookingContent form {
  max-width: 460px;
}

.booking1 #booking1 {
  display: block;
}

.booking1 #booking2 {
  display: none;
}

footer {
  width: 100%;
  height: 140px;
  background: #333;
}

/* -------------

JS-ADDED ELEMENTS

-------------- */

.flightItem {
  margin: 0 0 20px 0;
  padding: 5px 20px;
  border: 1px solid #e0e0e0;
  background: #fafafa;
  display: block;
}

.flightItem:hover {
  text-decoration: none;
}

.flightItem.explore {
  padding: 100px 20px 5px 20px;
}

.flightItem.explore.beaches {
  background: linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.45)),
    url(../img/beaches.jpg) left top / cover no-repeat;
}

.flightItem.explore.cities {
  background: linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.45)),
    url(../img/cities.jpg) left top / cover no-repeat;
}

.flightItem.explore.outdoors {
  background: linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.45)),
    url(../img/outdoors.jpg) left top / cover no-repeat;
}

.flightItem.explore.adventure {
  background: linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.45)),
    url(../img/adventure.jpg) left top / cover no-repeat;
}

.flightItem.explore h2 {
  color: #fff;
  font-size: 30px;
}

.bold {
  font-weight: 700;
}

.info {
  color: #767676;
}

.price {
  font-size: 16px;
}

.selected {
  background: green;
}

/* -------------

RESPONSIVE FIXES - EXTRA SMALL DEVICES

-------------- */

@media only screen and (max-width : 767px) {

  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }

  .device-big {
    display: none;
  }
  .device-small {
    display: block;
  }

  #destination {
    background: #E98B78;
  }

  #from {
    background: #6AA28B;
  }

  #dates {
    background: #937E8F;
  }

  #budget {
    background: #BDB491;
  }

  .tab-pane>.input-group>.form-control {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-radius: 4px;
  }

  .tab-pane label {
    display: none;
  }

  #container {
    position: absolute;
    top: 98px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  #map-area {
    height: 100%;
  }

  #map {
    height: 100%;
  }

  #info-layer {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  #info-content {
    position: relative;
    top: 88%;
  }

}

/* -------------

RESPONSIVE FIXES - LARGE DEVICES AND DESKTOP

-------------- */

@media only screen and (min-width : 768px) {

  .tab-content {
    overflow: hidden;
    width: 100%;
    padding: 20px 40px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .tab-content > .tab-pane {
    display: block;
    width: 25%;
    float: left;
    padding: 20px 0;
  }
  .device-small {
    display: none;
  }
  .tab-content > .tab-pane {
    display: block;
  }

  .tab-content .form-control {
    height: 56px;
  }

  #budget .inner {
    padding-left: 20px;
  }

  #budget .slider-container {
    padding-top: 16px;
  }

  #container {

  }

  #map-area {
    height: 700px;
    overflow: auto;
  }

  #map {
    float: left;
    width: 70%;
    height: 100%;
  }

  #info-layer {
    float: left;
    width: 30%;
    height: 100%;
    overflow: scroll;
    background: #fafafa;
  }

  #info-content {
    padding: 20px;
  }

}
