html,
body {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
span,
div {
  font-family: 'Montserrat', sans-serif;
}

#wrapper {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100%;
  position: relative;
  background: #FAFAFA;
  transition: transform 0.3s ease-in-out;
}

#map {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;

  display: block;
  text-indent: -9999px;
  background: #ECECEC url(../img/map.svg);
  background-size: 260% 260%;
  background-position: 100% 40%;
}

#controls {
  position: absolute;
  top: 0;
  left: 0;
}

#toolbar {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  background: #516066;
}

.tab-pane {
  padding: 30px;
}

#navLink {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: block;
  width: 64px;
  height: 64px;
  line-height: 64px;
  background: #fff;
  text-align: center;
  color: #000;
  font-size: 20px;
}

h1 {
  font-size: 18px;
  line-height: 60px;
  margin-left: 40px;
  color: #fff;
}

#toolbar h1 {
  float: left;
}

footer {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
  padding: 5px;
  background: #fff;
  text-align: center;
  border-radius: 4px;
}

footer span {
  color: #ccc;
  font-size: 11px;
}

#nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 100%;
  background: #123;
  transition: all 0.3s ease-in-out;
}

.navClosed #nav {
  transform: translate3d(-100%,0,0);
}

.navClosed #main {
  transform: translate3d(0,0,0);
}

.navOpen #nav {
  transform: translate3d(0,0,0);
}

.navOpen #main {
  transform: translate3d(320px,0,0);
}

/* --------------- Responsive Fixes --------------- */
/* small device */
@media (max-width: 767px) {
  .device-big {
    display: none;
  }
  .device-small {
    display: block;
  }
}
/* big device */
@media only screen and (min-width : 768px) {
  .device-big .tab-content {
    overflow: hidden;
  }

  .device-big, .tab-content > .tab-pane {
    display: block;
    width: 25%;
    float: left;
  }
  .device-small {
    display: none;
  }
  .tab-content > .tab-pane {
    display: block;
  }
}
/* --------------- / Responsive Fixes --------------- */
